@using Microsoft.AspNetCore.Components

<div class="card p-3 mb-3 shadow-sm">
    <h3>@Titulo</h3>
    <p>@Descricao</p>

    <p class="@CorTexto">
        Total: <strong>@total</strong>
    </p>

    <button class="btn btn-success" @onclick="Adicionar">
        Registrar (+@Peso)
    </button>
</div>

@code {
    [Parameter]
    public string Titulo { get; set; } = "";

    [Parameter]
    public string Descricao { get; set; } = "";

    [Parameter]
    public int Peso { get; set; }

    private int total = 0;

    private string CorTexto => total >= 50 ? "text-success fw-bold" : "text-dark";

    private void Adicionar()
    {
        total += Peso;
    }
}