@page "/"
@rendermode InteractiveServer

<h1>EcoMonitor</h1>
<p>Sistema de monitoramento de ações sustentáveis</p>

<EcoStatus Titulo="Reciclagem de Plástico"
           Descricao="Registrar reciclagem"
           Peso="1" />

<EcoStatus Titulo="Plantio de Árvores"
           Descricao="Registrar plantio"
           Peso="10" />

<EcoStatus Titulo="Descarte de Eletrônicos"
           Descricao="Registrar descarte"
           Peso="5" />